@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=68409eca-5a97-43d1-ac63-c34991ad4ba7");
@font-face {
  font-family: "DIN Neuzeit Grotesk Light";
  src: url("Fonts/b788f3ca-1b36-4360-86c0-36a00f1b8622.woff2") format("woff2"),
    url("Fonts/b0720bb1-3a89-4c2b-82ee-0c3d59ca36d7.woff") format("woff");
}
@font-face {
  font-family: "DIN Neuzeit Grotesk Bold Condensed";
  src: url("Fonts/4b5af983-e22c-4188-9590-6f682badc7d6.woff2") format("woff2"),
    url("Fonts/0200631b-5193-4794-9961-6996463ecc46.woff") format("woff");
}

body {
  background: black;
}

.heading {
  margin-left: 1.8em;
  position: absolute;

  bottom: 60vh;
  width: 85px;
}

.content {
  margin-left: 4em;
  position: absolute;

  top: 40vh;
  width: 80vw;

  max-width: 48em;
}

h2,
a {
  line-height: 140%;

  font-family: "DIN Neuzeit Grotesk Light", "Harmonia Sans Pro Cyr", Avenir,
    sans-serif;

  color: white;
}

h2 img {
  width: 28px;

  margin-left: -6px;
  padding-right: 6px;

  transform: translateY(6px);
}

h2 a {
  text-decoration: none;
  border-bottom: white dotted;

  margin: 0 -3px;
  padding: 0 3px;
}

.time.current {
  padding: 2px 6px;
  border: darkgray solid 2px;
}

.time .timezone {
  font-family: "DIN Neuzeit Grotesk Bold Condensed", "Harmonia Sans Pro Cyr",
    Avenir, sans-serif;

  vertical-align: super;
  font-size: 60%;

  padding-left: 5px;
}

.time .colon {
  padding: 0 2px;

  display: inline-block;
  transform: translateY(-1px);
}

.time .colon.hidden {
  opacity: 0;
}

.availability::after {
  color: black;
  padding: 4px 6px;
}

.availability[data-available="true"]::after {
  content: "available";
  background: #27ff00;
}

.availability[data-available="false"]::after {
  content: "unavailable";
  background: #ff4c00;
}

.action {
  margin-top: 4em;

  margin-bottom: 8em;
}
